/* Purpose New UI on BASE LAYOUT Fyberz */

:root {
    --light-grey-color: #efefef;
    --blue-primary:rgba(68,103,232, 1);
    --darkblue-primary:rgb(45, 70, 160);
}

.box-center{
    text-align: center;
}
.box-center .video-wrapper{
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: auto;
}
.box-center .video-wrapper video{
    width:100%;
    height: auto;
}
.box-center .video-wrapper .box-border{
    --b:5px;   /* thickness of the border */
    --c:red;   /* color of the border */
    --w:20px;  /* width of border */
    
  
    border:var(--b) solid transparent; /* space for the border */
    --g:#0000 90deg,var(--c) 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size:25px 25px;
    background-origin:border-box;
    background-repeat:no-repeat;
    
    /*Irrelevant code*/  
    width:100%;
    height:auto;
    box-sizing:border-box;
    margin:5px;
    display:inline-flex;
    font-size:30px;
    justify-content:center;
    align-items:center;
    line-height:90px;
  }