body {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#main {
    margin: 15px auto;
    background: white;
    overflow: auto;
    width: 100%;
}

#mainbody {
    background: white;
    width: 100%;
    /* display: none; */
}

#footer {
    background: white;
}

#wrapper-cam {
    position: relative;
    width: 350px;
    height: 263px;
    margin: 0px auto;
}

#qr-shaded-region {
    width: 350px;
    height: 263px;
    position: absolute;
    border-width: 65px 105px; /* 65px ​105px;*/
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.48);
    box-sizing: border-box;
    inset: 0px;
}

#qr-shaded-region > div {
    position: absolute;
    background-color: rgb(255, 255, 255);
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(2),
#qr-shaded-region > div:nth-child(3),
#qr-shaded-region > div:nth-child(4) {
    width: 40px;
    height: 5px;
}

#qr-shaded-region > div:nth-child(5),
#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(7),
#qr-shaded-region > div:nth-child(8) {
    width: 5px;
    height: 45px;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(2),
#qr-shaded-region > div:nth-child(5),
#qr-shaded-region > div:nth-child(6) {
    top: -5px;
}

#qr-shaded-region > div:nth-child(3),
#qr-shaded-region > div:nth-child(4) {
    top: 133px;
}

#qr-shaded-region > div:nth-child(7),
#qr-shaded-region > div:nth-child(8) {
    top: 93px;
}

#qr-shaded-region > div:nth-child(1),
#qr-shaded-region > div:nth-child(3) {
    left: 0px;
}

#qr-shaded-region > div:nth-child(2),
#qr-shaded-region > div:nth-child(4) {
    right: 0px;
}

#qr-shaded-region > div:nth-child(5),
#qr-shaded-region > div:nth-child(7) {
    left: -5px;
}

#qr-shaded-region > div:nth-child(6),
#qr-shaded-region > div:nth-child(8) {
    right: -5px;
}

#v {
    width: 350px;
    height: 263px;
}

#qr-canvas {
    display: none;
}

#outdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 263px;
}

#result {
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding: 20px;
    width: 100%;
}

ul {
    margin-bottom: 0;
    margin-right: 40px;
}

li {
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    border-right: 1px solid #333333;
}

li a {
    text-decoration: none;
    color: black;
}

#footer a {
    color: black;
}

.tsel {
    padding: 0;
}
