#bx-cam, #bx-cam-kendaraan {
  position: relative;
  height: 410px;
  width: 640px;
  margin: 0px auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  #bx-cam, #bx-cam-kendaraan {
    height: 335;
    width: 100%;
  }
}

#bx-cam #webcam, #bx-cam-kendaraan #webcamkendaraan {
  position: absolute;
  top: 0;
  left: 0;
  height: 480px;
  width: 640px;
}

@media (max-width: 768px) {
  #bx-cam #webcam, #bx-cam-kendaraan #webcamkendaraan {
    height: 100%;
    width: 100%;
  }
}

#bx-cam #canvas, #bx-cam-kendaraan #canvaskendaraan {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  /* width: 100%;
  height: 100%; */
}

#bx-cam .flash-cam, #bx-cam-kendaraan .flash-cam {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  display: none;
}

#bx-cam-icon .row-icon, #bx-cam-kendaraan-icon .row-icon {
  /* position: absolute; */
  /* bottom: 40px;
  left: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding-top: 20px;
}

#bx-cam-icon .cam-icon, #bx-cam-kendaraan-icon .cam-icon {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  #bx-cam-icon .cam-icon, #bx-cam-kendaraan-icon .cam-icon {
    width: 5rem;
    height: 5rem;
  }
}

#bx-cam-icon .fas, #bx-cam-kendaraan-icon .fas {
  font-size: 3rem;
}

@media (max-width: 768px) {
  #bx-cam-icon .fas, #bx-cam-kendaraan-icon .fas {
    font-size: 2rem;
  }
}
