/* Purpose New UI Fyberz */

:root {
    --light-grey-color: #efefef;
    --blue-primary:rgba(68,103,232, 1);
    --darkblue-primary:rgb(45, 70, 160);
}

#app-inner.light_theme{
    background-color: white !important;
}

header .header-social{
    min-height: 20px;
    width: 100%;
    background-color: #efefef;
}
header .header-social a, header .header-social a i{
    padding: 0em 0.5em;
    color: var(--blue-primary) !important;
    font-size: medium !important;
}
.navbar{
  min-height: 90px;
  padding-bottom:0 !important;
  padding-top: 0 !important;
  background-color: #fff;
  z-index: 200;
  box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 3%);
}
.nav-link{
    color: #011261 !important;
    opacity: 0.55;
    padding: 1.7em !important;
    font-size: 1.1rem;
}
.nav-item .btn.btn-primary{
    font-weight: bold !important;
    background-color: var(--blue-primary) !important;
}
.nav-link.active{
  opacity: 1 !important
}
/* .nav-link a{
    font-size:1rem !important;
    min-width:90px !important;
} */
  /* .nav-link.active
    color: $primary-green-color !important
    opacity: 1 !important */

  /* .bordered-bottom
    border-bottom:1px solid $primary-blue-Color !important
    .navbar-collapse
      // margin-bottom: 1rem !important
      a
        font-size:14px !important
        min-width:90px !important
      //   background-color: red */
.navbar .navbar-brand{
    position: absolute !important;
    top:0 !important;
    background-color: #efefef;
    padding: 10px;
    border-radius: 0px 0px 13px 13px;
    width: 120px;
    /* box-shadow: 0px 5px 8px 0px #00000078; */
}
.navbar .navbar-brand img{
    width: 100%;
}

.navbar-blue ul li{
  position: relative;
}

.navbar-blue ul li.dropdown:hover .dropdown-menu{
  display: block !important;
  margin-top: -10px;
  box-shadow: 0px 8px 8px #0003;
  position:absolute;
  right:0;

}

.navbar-blue ul li.dropdown:hover .dropdown-menu .dropdown-item{
  color: #011261;
  padding: 0.5em 1em;
}

.navbar-blue ul li.dropdown:hover .dropdown-menu a+a::before{
  content: '';
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
  position: absolute;
  margin-top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-blue ul li.hvr-inline:after{
  background-color: var(--blue-primary);
}
.navbar-blue ul li.hvr-inline:hover a.nav-link.border-bottom-sm{
  opacity: 1 !important;
}
.hvr-inline:hover a.nav-link.border-bottom-sm {
  color: #00A75A !important;
  opacity: 1 !important; }

.hvr-inline:hover:after, .hvr-inline:hover .nav-item.active.hvr-inline {
  transform: scaleX(1);
  white-space: nowrap; }

.hvr-inline:after {
  content: '';
  width: 100%;
  height: 2px;
  white-space: nowrap;
  background-color: #fff;
  display: block;
  margin-top: 3px;
  border-radius: 4px;
  bottom: -3px;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .2s;
  position: absolute; }

.hvr-inline:not(:hover):after {
  transform-origin: right;
  white-space: nowrap; }
  /* 

  .hvr-inline
    &:after
      background-color: $primary-green-color
.navbar-blue
  background-color: $primary-darkblue-color
  .bordered-bottom
    border-bottom:1px solid $primary-green-color !important
  .nav-link
    color: white !important
    opacity: 0.55 !important
  .nav-link.active
    color: white !important
    opacity: 1 !important
  .hvr-inline
    &:after
      background-color: $primary-green-color
    &:hover
      a.nav-link.border-bottom-sm
        color: #fff !important
        opacity: 1 !important */

.box-spacer{
    width: 100%;
    position: relative;
}

.swiper{
  width: 100%;
  height: auto !important;
}
.swiper .swiper-slide{
    padding: 2em;
    text-align: center;
}
.swipernews .swiper-slide, .swipernews2 .swiper-slide{
  padding:0.5em;
}
.swiper .swiper-slide img{
    width:100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 3%);
}
.swiper-button-next i, .swiper-button-prev i{
    font-size: 2em;
    color: var(--blue-primary);
}
.swiper-button-next:after, .swiper-button-prev:after{
    content:none !important;
}
.content-title{
  text-align: left !important;
}
.content-title h1{
  font-size: 2em;
  margin-bottom: 0.5rem;
}
.content-title p{
  font-size: 14px;
}
.content-title .content-title-footer{
  margin-top: 2em;
}
.content-title .content-title-footer .btn.btn-primary{
  margin-top: 2em;
  color: var(--blue-primary) ;
  border: 2px solid var(--blue-primary) !important;
  background-color: transparent !important;
  font-weight: bold;
}
.content-title .content-title-footer .btn.btn-primary:hover{
  background-color: #3652b8 !important;
  border-color: #3652b8 !important;
  color:  #fff !important;
}
.content-sec{
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.header-content{
    position: relative;
}
.header-content .title{
    position: relative;
    z-index:1;
}
.bg-green .header-content .title{
    position: relative;
    z-index:1;
    color: #fff;
}
.header-content span.back-drops{
    font-size:5.5rem;
    position: absolute;
    font-size: 5.5rem;
    position: absolute;
    top: 35px;
    margin: auto;
    left: 0;
    right: 0;
    width: 70%;
    opacity: .04;
    z-index: 0;
}
.bg-green{
    background-color: #00923F !important;
    color: #fff !important;
}
.bg-blue{
  background-color: #4467e8 !important;
  color: #fff !important;
}
.bg-grey{
    background-color: #F5F5F5 !important;
}
.bg-grey .header-content .title{
    position: relative;
    z-index:1;
}

.light_theme footer {
  /* background-color: var(--darkblue-primary) !important; */
  background-color: #27377b !important;
  -webkit-box-shadow: 11px 10px 38px rgb(0 0 0 / 12%);
  box-shadow: 11px 10px 38px rgb(0 0 0 / 12%);
  color:  #fff !important;
}
.light_theme footer .row > div:last-of-type a {
  color: #00923F;
}
.btn.btn-primary {
    color: #FFFFFF;
    border-color: var(--blue-primary) !important;
    background-color: var(--blue-primary) !important;
    font-weight: 400;
}
.btn.btn-primary:hover{
  background-color: #3652b8 !important;
  border-color: #3652b8 !important;
  color:  #fff !important;
}
button.cari-nik{
    border-radius: 0px 0.475rem 0.475rem 0px;
}
.full-block{
  width: 100% !important;
}
.nav-tabs{
  border-bottom: 1px solid #2d45a03b !important;
}
.nav-tabs .nav-item{
  border: 0 !important;
}
.nav-tabs .nav-item .nav-link.active{
  border-bottom:4px solid var(--darkblue-primary) !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}
.swiper-pagination-news, .swiper-pagination-news2, .swiper-pagination-news3{
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 99;
  position: relative;
  bottom: 30px !important;
}
.swiperexternal .swiper-slide div{
  width: 100%;
  height: 300px;
  text-align: center;
}
.swiperexternal .swiper-slide {
  justify-content: center;
  display: flex
}
.swiperexternal img{
  object-fit: cover;
  width: 100% !important;
  height: 300px !important;
  border-radius: 12 !important;
}
.list-card-news .card{
  box-shadow: 0px 2px 7px rgb(0 0 0 / 12%);
  /* width: 300px; */
  width: auto !important;
}
.list-card-news .card .card-image{
  /* width: 300px; */
  width: auto !important;
  height: 300px;
}
.list-card-news .card .card-body{
  color: #1f1f1f !important;
  padding: 1rem 1.25rem !important;
  min-height: 130px;
}
.list-card-news .card .card-body p{
  color: #1f1f1f !important;
}
img.img-gallery {
  object-fit: cover;
  /* width: 300px !important; */
  width: 100%;
  height: 300px !important;
  filter: brightness(0.7);
  border-radius: 0 !important;
}
.contact-info img{
  margin-right: 1em;
  width: 24px;
  height: 24px;
}
.contact-info .social{
  margin: 0 !important;
}
.clients-icon-text {
  background: linear-gradient(270deg, rgba(142,36,170,1) 19%, rgba(255,110,64,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding: 6px 12px;
  opacity: 0.6;
  transition: 0.3s;
}

.swipermain {
  height: 50vh !important;
}
.swipermain img{
  width: 100%;
  max-width: 650px !important;
  max-height: 450px !important;
  height: auto;
  object-fit: cover;
}
.bg-footer{
  background-color: var(--darkblue-primary) !important;
}
.contact-info, .contact-info h3, .contact-info h4, .contact-info p, .contact-info a {
  color: #fff !important;

}

.wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.burger {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  background: white;
  box-shadow: rgb(136 165 191 / 29%) 0px 6px 9px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all .5s ease;
  margin: 1em;
}
.burger:hover {
  background: rgb(56 56 56);
}
.burger-strip {
  transition: all .5s ease;
}
.strip div {
  height: 3px;
  border-radius: 2px;
  background: rgb(56 56 56);
  margin: 10px;
  transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
}
.burger:hover .strip div , .navbar-collapse.show .burger .strip div {
  background: white;
}
/* BURGER 1 */
.burger-strip div:first-child {
  width: 16px;
}
.burger-strip div:last-child {
  width: 28px;
}
.navbar-toggler:not(.collapsed)  .burger .burger-strip div:first-child {
  transform: rotate(45deg) translateY(1px) translateX(5px);
}
.navbar-toggler:not(.collapsed)  .burger .burger-strip div:nth-child(2) {
  transform: rotate(-45deg);
}
 .navbar-toggler:not(.collapsed)  .burger .burger-strip div:last-child {
  transform: rotate(45deg) translateY(-13px) translateX(2px);
}

.box-spacer{
  padding-bottom: 0px !important;
  padding-top: 25px !important;
}
.modal-body .text-align-left{
  text-align: left !important;
}
.list-card-news .card .card-body .text-align-left{
  text-align: left !important;
}
.list-card-news .card .card-body small.text-align-left{
  text-align: left !important;
  width: 100%;
  display: block;
}
.swiper-pagination-news small{
  text-align: left !important;
}
.card-news{
  width:auto !important;
  margin-bottom:10px;
  height: 100%;
}
.img-tgl{
  position: relative;
  height:300px;
}
.img-tgl img{
  width:100%; 
  height:100%;
  object-fit: cover;
  object-position:top;
  filter: brightness(0.7);
  border-radius: 0 !important;
}
.tag-tanggal{
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: -15px;
  left: 10px;
  border-radius: 0.475rem;
}
.tag-purchase-tanggal{
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  bottom: -15px;
  left: 10px;
  border-radius: 0.475rem;
  width: 100%;
}
.tag-tanggal.green, .tag-purchase-tanggal.green{
  background-color: #00923F;
}
.tag-tanggal.orange ,.tag-purchase-tanggal.orange{
  background-color: #e38443;
}
.text-align-left{
  text-align: left !important;
}
.marquee {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: fixed;
  bottom:0;
  background-color: #fff;
  z-index: 99999;

}

.marquee div {
  display: block;
  width: 100%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 20s linear infinite;
}

.marquee span {
  width: 100%;
}
#companydata .modal-content{
  position: relative;
}
#companydata .btn{
  position: absolute;
  right: 10px;
  top: 10px;
}
@keyframes marquee {
  0% { left: 100%; }
  100% { left: -100%; }
}
@media (max-width: 640px){
  .swipermain {
    height: 100vh !important;
  }
  .navbar .navbar-brand{
    width: 90px;
  }
  .navbar .navbar-brand img {
    width: 100%;
  }
}
.min-width-15{
  min-width: 15px !important;
}
.full-height{
  height: 100% !important;
}
.double-bounce1{
  background-color: #4467e8;
}
.double-bounce2{
  background-color: #00923F;
}
.preloader{
  background-color: #F5F5F5 !important;
  z-index: 9999999999 !important;
}
.loader > .preloader{
  display: flex !important;
  transition: ease-out 0.3s ;
}
.loader > .preloader.hideloader{
  /* display: none !important; */
  opacity:0;
  transition: ease-out 0.3s ;
}
.loader > .preloader.hideloader.delete{
  display: none !important;
  transition: ease-out 0.3s ;
}
footer{
  margin-bottom: 20px;
}