.body-background {
    background-image: url('../../img/background-kejaksaan.jpg');
    height: 100vh;
    position: relative;
}

@media (max-width: 992px) {
    .body-background {
        background-position: top center;
    }
}

.body-background:after {
    background-color: rgba(0, 0, 0, 0.37);
    height: 100%;
    width: 100%;
    position: absolute;
    content: " ";
    display: block;
}

.transparant-bg {
    background: rgba(255, 255, 255, 0.8);
}

.bx-form-satker {
    width: 60%;
    padding: 3rem 1rem;
    border-radius: 5px;
    z-index: 9;
}

@media (max-width: 992px) {
    .bx-form-satker {
        width: 90%;
    }
}

.custom-select2 .select2-container {
  width: 100% !important;
  height: 37px;
}

.custom-select2 .select2-container--default .select2-selection--single {
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.custom-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
  padding-left: 18px;
}

textarea.form-control {
  height: auto;
  min-height: 210px;
}

.jam-bukutamu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jam-bukutamu > div {
  padding: 1rem 2rem;
  background: #58aafc linear-gradient(180deg,#58aafc,#3699FF) repeat-x;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: #fff;
}

.input-field .error-message {
  /* font-size: 12px; */
  margin-bottom: .5rem;
  color: #ff4136;
}

@media (max-width: 992px) {
    #kt_form {
        padding: 0px 0px !important;
    }
    #kt_form button {
        padding: 1rem !important;
    }
}

/* .bx-cam {
  position: relative;
  width: 490px;
  height: 440px;
}
.bx-cam > div {
  position: absolute;
  /* width: 490px;
  height: 379px; * /
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#camera {
  width: 490px;
  height: 379px !important;
  overflow: hidden;
  border: 1px solid #9e9e9e;
}
#image-fire,
#re-fire {
  margin-top: 10px;
}
#bx-recamera {
  display: none;
}
#taken-image {
  width: 490px;
  height: 379px !important;
  overflow: hidden;
  border: 1px solid #9e9e9e;
} */

@media (max-width: 992px) {
    .kunjungan-data-pribadi {
        margin-top: 60px;
    }
}
